@tailwind base;

@layer base {
  #root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  *::-webkit-scrollbar {
    width: 2px;
  }

  button {
    margin: 0;
    padding: 0;
  }
}
@tailwind components;
@layer components {
  .myInput {
    @apply mb-2 appearance-none rounded border border-gray-300  w-full py-2 px-4 text-gray-700 text-sm leading-tight focus:outline-none focus:bg-white focus:border-primary;
  }

  .myLabel {
    @apply block  text-gray-400 text-sm font-bold mb-2;
  }

  .myButton {
    @apply flex-shrink-0  rounded bg-blue-900 hover:bg-blue-800 text-sm focus:outline-none text-white py-2 px-8;
  }
  .myButtonOutline {
    @apply flex-shrink-0 py-2 px-8  rounded bg-gray-50   border-gray-300  text-xs border  hover:bg-gray-200;
  }

  .mySelect {
    @apply block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded  focus:outline-none focus:border-secondary;
  }
}

@tailwind utilities;

@layer utilities {
  .link {
    @apply p-2 flex  gap-6 items-center hover:bg-gray-100    md:cursor-pointer cursor-default duration-300 font-medium;
  }
  .active {
    @apply bg-gray-100 text-primary  border-l-4 border-primary;
  }

  .heading {
    @apply p-2;
  }
  .heading h2 {
    @apply font-bold md:text-2xl text-gray-700;
  }
  .heading p {
    @apply text-xs text-gray-400 pt-2;
  }
}
